name: Run Javascript Tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'Run Javascript Tests'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js LTS
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        check-latest: true
        cache: yarn
    - name: Install dependencies and run tests
      run: |
        yarn
        yarn test
      env:
        CI: true
